<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo">M STORE</div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active"
        >🏠 Dashboard</a
      >
      <a mat-list-item routerLink="/orders" routerLinkActive="active"
        >📦 Orders</a
      >
      <a mat-list-item routerLink="/customers" routerLinkActive="active"
        >👤 Customers</a
      >
      <a mat-list-item routerLink="/products" routerLinkActive="active"
        >🛒 Products</a
      >
      <a mat-list-item routerLink="/settings" routerLinkActive="active"
        >⚙️ Settings</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <header class="header">
      <div class="title">Admin Dashboard</div>
      <button mat-button color="warn" routerLink="/login">Logout</button>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
